.img-fluid {
    max-width: 100%;
    height: 400px;
    width: 400px;
    margin-left: 33px;
    margin-top: 2rem;
}
.card-group{
    margin: 1rem;
    
}
.card{
    margin: 1rem;
    
}